/* default styles or styles out of the media query */ 
body{
    margin: 0; 
    font-family: Tahoma; 
    overflow-x: hidden;
}


@media only screen and (max-width: 600px){
    /* main section styles */ 
    .main-heading{
        display: block; 
        width: 100%; 
        height: 80px; 
        margin: 0;  
        background-color: #ffe570; 
        border-bottom: 2px solid black; 
        padding: 10px;  
    }
    .main-heading h1{
        font-size: 40xpx; 
        margin: 0;    
        padding-top: 0; 
        padding-bottom: 0px; 
        margin-bottom: -10px; 
    }
    .main-heading h3{
        margin: 0;  
        font-size: 30px; 
    }
    
    /* navigation bar styles */
    .nav{
        display: inline-flex; 
        width: 100%; 
        height: 50px;  
        background-color: #ffe570;  
        font-size: 14px; 
        align-items: center; 
        justify-content: end;
    }
    .nav a{
        padding-right: 10px; 
    }

    /* reset the float values of bee photos when their out of the media query */
    /* first bee photo */ 
    .bee-pic:nth-child(1){
        float: none; 
        width: 100%;  
    }
    /* second bee photo */ 
    .bee-pic:nth-child(2){
        width: 100%; 
        float: none; 
    }
    .data-block{
        padding: 10px; 
    }
    .footer{
        display: inline-flex; 
        width: 100%; 
        background-color: #ffe570; 
        justify-content: center;
        align-items: center;
        font-size: 16px; 
        height: 30px; 
    }
}

@media only screen and (min-width: 600px) { /* Responsive breakpoint - targets devices that have a minimum width of 600px and applies these styles */
    .main-heading{
        display: block; 
        width: 100%; 
        height: 80px; 
        margin: 0;  
        background-color: #ffe570; 
        border-bottom: 2px solid black; 
        padding: 10px;  
    }
    .main-heading h1{
        font-size: 24px; 
        margin: 0;    
        padding-top: 0; 
        padding-bottom: 0px; 
        margin-bottom: -10px; 
    }
    .main-heading h3{
        margin: 0;  
        font-size: 18px; 
    }

    /* styles for navigation bar */ 
    .nav{
        display: inline-flex; 
        width: 100%; 
        height: 50px;  
        background-color: #ffe570;  
        font-size: 14px; 
        align-items: center; 
        justify-content: end;
    }
    .nav a{
        padding-right: 10px; 
    }
    .data-block{
        padding: 10px; 
    }
    /* first bee photo */ 
    .bee-pic:nth-child(1){
        float: right; 
    }
    /* second bee photo */ 
    .bee-pic:nth-child(2){
        float: left; 
    }
    .footer{
        display: inline-flex; 
        width: 100%; 
        background-color: #ffe570; 
        justify-content: center;
        align-items: center;
        font-size: 14px; 
        height: 30px; 
    }
}